aniso8601==9.0.1
apispec==6.8.0
attrs==24.3.0
awsebcli==3.21.0
bidict==0.23.1
blessed==1.20.0
blinker==1.8.2
botocore==1.35.99
cement==2.10.14
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
coverage==7.6.4
dnspython==1.16.0
email_validator==2.2.0
eventlet==0.38.0
Flask==3.0.3
flask-apispec==0.11.4
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
flask-marshmallow==1.2.1
flask-mongoengine==1.0.0
Flask-RESTful==0.3.10
flask-restplus==0.13.0
flask-restx==1.3.0
Flask-SocketIO==5.4.1
flask-swagger==0.2.14
Flask-WTF==1.2.2
greenlet==3.1.1
h11==0.14.0
idna==3.10
importlib_resources==6.4.5
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
marshmallow==3.23.2
marshmallow-mongoengine==0.31.2
mongoengine==0.29.1
packaging==24.1
pathspec==0.10.1
pip-check-reqs==2.5.3
pluggy==1.5.0
psutil==6.1.0
psycopg==3.2.3
psycopg2==2.9.10
PyJWT==2.10.0
pymongo==3.12.0
pytest==8.3.3
pytest-cov==6.0.0
pytest-flask==1.3.0
pytest-xprocess==1.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-socketio==5.11.4
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
semantic-version==2.10.0
simple-websocket==1.1.0
six==1.17.0
termcolor==2.5.0
typing_extensions==4.12.2
urllib3==1.26.20
wcwidth==0.2.13
webargs==8.6.0
Werkzeug==3.1.1
wsproto==1.2.0
WTForms==3.2.1
