commands:
  00-fix-python-symlink:
    command: |
      sudo rm -f /var/app/staging/hyprops_venv/bin/python
      sudo rm -f /var/app/staging/hyprops_venv/bin/python3
      sudo rm -f /var/app/staging/hyprops_venv/bin/python3.12
      sudo ln -s /usr/bin/python3.12 /var/app/staging/hyprops_venv/bin/python
      sudo ln -s /usr/bin/python3.12 /var/app/staging/hyprops_venv/bin/python3
      sudo ln -s /usr/bin/python3.12 /var/app/staging/hyprops_venv/bin/python3.12
  01-fix-permissions:
    command: "sudo chown -R webapp:webapp /var/app/staging/hyprops_venv"
  02-upgrade-pip:
    command: "/var/app/staging/hyprops_venv/bin/pip install --upgrade pip"
  03-install-requirements:
    command: "/var/app/staging/hyprops_venv/bin/pip install -r /var/app/staging/requirements.txt"
