commands:
  00-create-staging-dir:
    command: "mkdir -p /var/app/staging/ && chmod -R 777 /var/app/staging/"
  01-copy-app-files:
    command: "cp -r /var/app/current/* /var/app/staging/"
  02-force-copy-requirements:
    command: "cp /var/app/current/requirements.txt /var/app/staging/ || touch /var/app/staging/MISSING_REQUIREMENTS"
  03-create-venv:
    command: "/usr/bin/python3.12 -m venv /var/app/staging/venv"
  04-activate-venv:
    command: "source /var/app/staging/venv/bin/activate"
  05-upgrade-pip:
    command: "/var/app/staging/venv/bin/pip install --upgrade pip"
  06-install-requirements:
    command: "/var/app/staging/venv/bin/pip install -r /var/app/staging/requirements.txt || echo 'FAILED TO INSTALL DEPENDENCIES'"
